<%= javascript_include_tag "events-explorer" %>

<div id="events-map-canvas" style="position: absolute; top: 45px; bottom: 0; left: 257px; height: 100%; right: 0; z-index: 0; display: block; clear: both;"></div>

<div class="pois-explorer">
	<div class="scroll-pane">

			<div id="mainDiv">
				<br />
				<img src="http://www.kulturklik.euskadi.net/wp-content/uploads/2010/02/kulturklik.png" />
				<br />
				<br />
				<table>
					<tr>
						<td >
						<br />
						<br />
						<input id="langRadioEu" type="radio" name="langRadio" value="eu" onclick="LangChanged()" />
						Euskara
						<input id="langRadioEs" checked="checked" type="radio" name="langRadio" value="es" onclick="LangChanged()" />
						Castellano
						<br />
						<br />
						<div id="datepicker"></div>
					</tr>
				</table>
			</div>
			
			<ul class="places-list">
		  	<%= render @events %>
		  </ul>

	</div>
</div>
