<!DOCTYPE html>
<html>
    <h1>About Us</h1>
    <p>
      <a href="http://ekaidepd.com">SocialTour</a>
      is a project to make tourism activities easier for everyone.
      You only have to sign up with your Facebook account and SocialTour app
      is going to take your profile preferences and it will recommend the best for you.
    </p>
  </body>
</html>
