<h2>Recomendaciones personalizadas para ti</h2>

<h4>Lugares</h4>

<div class="row-fluid">
	<ul class="thumbnails">
		<%= render collection: @recommended_pois, partial: "poi_recommend", as: :poi %>
	</ul>
</div>

<h4>Actividades</h4>

<h4>Paquetes Personalizados</h4>