.scroll-pane
{
	width: 90%;
	height: 100%;
	overflow: auto;
}

.pois-explorer {
	position: absolute; 
	top: 45px; 
	bottom: 0;
	right: 0;
	left: 10px; 
	width: 20%; 
	z-index: 0;
}

.span-poi-side {
  width: 290px;
}

#poi-comments {
  margin-top: 25px;
}

.poi-link {
  margin: 12px 0 18px;
}

.poi-link a {
  color: #4FA800;
  font-size: 28px;
}

.poi-link a.label {
  color: white;
  font-size: 18px;
  line-height: 12px;
  padding: 4px 8px;
  background: #F24F00;
  margin-right: 4px;
}

.poi-link a.label:hover {
  background: #4F78D6;
}

.poi-link a.label > i{
  margin-left: 4px;
}


ul.places-list li.poi-preview  .poi-img {
  width: 167px;
  height: 84px;
  margin: 5px 10px;
  float: left;
}
  
.poi-created-at, .poi-city, .poi-user {
  font-size: 11px;
  color: gray;
  display: inline-block;
}
  
.poi-created-at a, .poi-city a, .poi-user a {
  color: #06C;
}

ul.places-list {
  margin-left: 0;
}
  
ul.places-list li.poi-preview  .poi-desc {
  color: black;
}

ul.places-list li.poi-preview {
  display: block;
  min-height: 100px;
  margin: 8px 0;
  padding: 4px 4px 12px 0;
}

.starbar-static {
  display: inline;
}

ul.places-list li.poi-preview .poi-rating {
  float: right;
}

ul.places-list li.poi-preview .poi-rating span {
  margin-left: 8px;
  font-weight: bold;
  color: #999;
}

ul.places-list {
  list-style: none;
  margin-top: 25px;
}

ul.places-list li .pois-content > h3 > a {
  color: #4FA800;
}

ul.places-list.condensed {
  display: table;
  margin-top: 0;
}

ul.places-list.condensed li.poi-preview {
  display: table-cell;
  width: 210px;
}

ul.places-list.condensed li.poi-preview .poi-rating span {
  display: none;
}

ul.places-list.condensed li.poi-preview .poi-img {
  margin: 5px 22px;
  float: none;
}

div.poi-img img {
  width: 167px;
  height: 84px;
}
   
ul.places-list.condensed.reduced li.poi-preview .poi-desc {
  display: none;
}

#poi-detail h1 {
  font-size: 30px;
  color: #004FA8;
}

#poi-detail h3.section-title {
  font-size: 16px;
  color: #3366FF;
}

#poi-detail .poi-info {
  display: block;
  margin-bottom: 24px;
}

a.show-in-minube {
  display: block;
  width: 220px;
  height: 79px;
  text-indent: -9999px;
  background-image: url('/assets/logo_minube.png');
}

a.show-in-foursquare {
  display: block;
  width: 220px;
  height: 79px;
  text-indent: -9999px;
  background-image: url('/assets/logo_foursquare.png');
}

a.poi-photo-fancy {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 0 12px 12px 0;
}

.poi-side-block {
  margin-bottom: 20px;
}

div#download-route {
  margin: 8px 0 12px;
}

a.download-route {
  padding: 4px;
  color:  white;
  background-color: #598DC4;
  border-radius: 3px;
  margin-right: 12px;
}

a.download-route:hover {
  background-color: #06C;
}

a.map-expand {
  display: block;
  color: white;
  width: 988px;
  height: 18px;
  margin: 0 0 15px -25px;
  background-color: rgba(0,0,0,0.45);
  border: 1px solid transparent;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  text-decoration: none;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

a.map-expand:hover {
  background-color: rgba(0,0,0,0.65);
  color: white;
  text-decoration: none;
}


/*
 
.slider {
  width: 990px;
  height: 400px;
  margin: 8px 0;
}

#last-photos-slider {
  margin-top: 23px;
  margin-bottom: 7px;
}

#gallery, #thumbs {
  float: left;
}

#gallery {
  width: 890px;
  height: 400px;
  overflow: hidden;
  margin-left: -25px;
  
  img {
    position: absolute;
  }
}

#thumbs {
  width: 100px;
  height: 400px;
  overflow: hidden;
}
*/
